[Desktop Entry]
Version=1.0
Icon=/home/kali/Desktop/Linux-ISAN-Security-Gizmo-Box/assets/icons/icon_gixmobox.png
Name=GizmoBox
Exec=python3 /home/kali/Desktop/Linux-ISAN-Security-Gizmo-Box/lib/main.py
Terminal=false
Type=Application
GenericName=ISAN Security Gizmo Box version 1.0
Path=/home/kali/Desktop/Linux-ISAN-Security-Gizmo-Box/